<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h3>Chat with ...</h3>
          <div class="chat"></div>
          <form class="chat-form" action="">
            <div class="control pt-4">
              <textarea name="message" class="chat-message textarea has-fixed-size" placeholder="Fixed size textarea"></textarea>
              <input type="hidden" name="user-id"/>
              <input type="hidden" name="receiver-id"/>
            </div>
            <div class="control is-flex is-justify-content-flex-end pt-4">
              <button type="submit" class="button is-primary send-message">Send message</button>
              <button type="button" class="button is-primary subscribe">Subscribe</button>
              <button type="button" class="button is-primary unsubscribe">Unsubscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
