<header class="has-background-primary-light p-3">
  <nav class="is-flex is-justify-content-space-between has-background-primary-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <p class="is-size-3 has-text-dark">Advertisement Service</p>
      </a>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a href="/create" class="button is-primary">
          <strong>Create advertisement</strong>
        </a>
        {{#if userId}}
          <a href="/user/{{userId}}" class="button is-primary">
            <strong>Profile</strong>
          </a>
          <form action="/auth/logout" method="POST">
            <button type="submit" class="button has-text-light has-background-primary-dark">
              <strong>Log out</strong>
            </button>
          </form>
        {{else}}
          <a href="/signup" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/login" class="button has-text-light has-background-primary-dark">
            <strong>Log in</strong>
          </a>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
