<header class="has-background-primary-light p-3">
  <nav class="is-flex is-justify-content-space-between has-background-primary-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <p class="is-size-3 has-text-dark">Advertisment Service</p>
      </a>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        {{#if isSignUp}}
        {{else}}
        <a href="/signup" class="button is-primary">
          <strong>Sign up</strong>
        </a>
        {{/if}}
        <a href="/login" class="button has-text-light has-background-primary-dark">
          <strong>Log in</strong>
        </a>
      </div>
    </div>
  </nav>
</header>
